@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 320px;
    height: 568px;
    align-items: center;
    padding: 20px;
    border: 1px dashed violet;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.circular-progress{
    width: 150px;
    height: 150px;
    border: 1px dashed violet;
    position: relative;
    margin: 50px;
}

.progress-circle{
    transform: rotate(-90deg);
}

.background{
    fill: none;
    stroke: gray;
    stroke-width: 10px;
}

.bar{
    fill: none;
    stroke: #005cff;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-dasharray: 283px;
    stroke-dashoffset: 283px;
    transition: stroke-dashoffset 0.5s ease;
}

.panel{
    display: flex;
    flex-direction: column;
}

.value, .animate, .hide{
    margin-top: 10px;
}

input[type=text] {
    border-radius: 3dvh;
    width: 40px;
    padding: 5px;
    text-align: center;
}


@media (orientation: landscape) {
    .container{
        width: 568px;
        height: 320px;
        flex-direction: row;
        justify-content: space-around;
    }

    .panel{
        flex-direction: row;
    }
}
