@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 320px;
    height: 568px;
    align-items: center;
    padding: 20px;
    border: 1px dashed violet;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.circular-progress{
    width: 150px;
    height: 150px;
    border: 1px dashed violet;
    position: relative;
    margin: 50px;
}

.progress-circle{
    transform: rotate(-90deg);
}

.background{
    fill: none;
    stroke: #eaf0f6;
    stroke-width: 10px;
}

.progress-bar{
    fill: none;
    stroke: #005cff;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 0.5s ease;
}

.progress-bar.animating{
    animation: rotate 5s linear infinite;
}

@keyframes rotate{
    from{stroke-dashoffset: 283;}
    to {stroke-dashoffset: 0;}
}

.hidden{
    visibility: hidden;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.value, .animate, .hide{
    margin-top: 10px;
    display: inline-block;
}

input[type=text] {
    border-radius: 3dvh;
    height: 1.8em;
    width: 2.8em;
    text-align: center;
}

.checkbox-input{
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle{
    display: inline-block;
    position: relative;
    padding: 8px;
    padding-left: 45px;
}

.toggle::before{
    display: block;
    content: "";
    position: absolute;
    transform: translateY(-2px);
    left: 0;
    height: 1.5em;
    width: 2.5em;
    background-color: #eaf0f6;
    border-radius: 3dvh;
    transition: background-color .3s;
}

.toggle::after{
    display: block;
    content: "";
    position: absolute;
    transform: translateY(-2px);
    height: 1.3em;
    width: 1.4em;
    background-color: #ffffff;
    border-radius: 3dvh;
    left: 2px;
    bottom: 4px;
    transition: .3s left;
}

.checkbox-input:checked + .toggle::before{
    background-color: #005cff;
}

.checkbox-input:checked + .toggle::after{
    left: 1em;
}


@media (orientation: landscape) {
    .container{
        width: 568px;
        height: 320px;
        flex-direction: row;
        justify-content: space-around;
    }

}
